/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: rgb(180, 260, 70);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Open Sans", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --tl: 0.6s;
  --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
  --item1-filter: blur(30px);
  --item1-zIndex: 11;
  --item1-opacity: 0;

  --item2-transform: translateX(0);
  --item2-filter: blur(0px);
  --item2-zIndex: 10;
  --item2-opacity: 1;

  --item3-transform: translate(50%, 10%) scale(0.8);
  --item3-filter: blur(10px);
  --item3-zIndex: 9;
  --item3-opacity: 1;

  --item4-transform: translate(90%, 20%) scale(0.5);
  --item4-filter: blur(30px);
  --item4-zIndex: 8;
  --item4-opacity: 1;

  --item5-transform: translate(120%, 30%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-zIndex: 7;
  --item5-opacity: 0;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /*margin: var(--header-height) 0 0 0;*/
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  background-image: url(../src/assets/img/section-wrapper-bg.jpg);
}

#root {
  padding-top: 100px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--raisin-black-2);
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0 10px 0 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.event-card {
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
}

/*=============== CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
  /*animation: appear linear;*/
  /*animation-timeline: view();*/
  /*animation-range: entry 0% cover 30%;*/
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
  color: rgb(180, 260, 70);
  animation: glow 0.4s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
      0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff,
      0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff;
  }
}

.section__title::after {
  content: url("../src/assets/img/5jq54qsm.png");
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  filter: contrast(0.87);
}

.section__height {
  height: auto;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: var(--container-color);*/
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 50px;
  margin-block: 20px;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
  margin-left: 25px;
  width: 50px;
}

.nav__logo img {
  border-radius: 50%;
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/*.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}*/

.search-box {
  transition: all 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Puedes ajustar el ancho según sea necesario */
  height: 50px; /* Ajusta el alto según el diseño */
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);
  color: black;
  margin-right: 25px;
  box-sizing: border-box;
  clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
}

.search-box:focus {
  width: 300px;
  border-radius: 20px;
  padding-left: 15px;
  text-indent: 0; /* Muestra el texto cuando está enfocado */
  border: none;
  outline: none;
  cursor: text;
  border-radius: auto;
}

.search-box:hover {
  background: rgb(200, 200, 200);
  box-shadow: 0 0 0 5px rgb(61, 71, 82);
  color: white;
  clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
  border-radius: 20px;
}

/* Estilos para el ícono dentro de la caja */
.search-icon i {
  font-size: 24px; /* Ajusta el tamaño del ícono */
  max-width: 100%; /* Asegura que no se desborde */
  max-height: 100%;
  display: block;
  margin: auto; /* Centra el ícono */
}

#search-submit {
  position: absolute;
  left: -9999px;
}

/* Estilos para el botón */
button#logout,
button#loging {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

button#logout i,
button#loging i {
  font-size: 20px;
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: rgba(15, 12, 41, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  color: #fff;
  width: 100%;
  margin-top: 50px;
}

.footer a {
  color: inherit;
}

.footer-top {
  padding-block: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 50px;
}

.footer-top .logo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer-top .logo img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.footer-top .logo h3 {
  color: var(--title-color);
}

.footer-text {
  font-size: var(--fs-6);
  line-height: 1.8;
}

.footer-list {
  font-family: var(--ff-nunito);
}

.footer-list:not(:last-of-type) {
  width: 50%;
}

.footer-list:last-of-type {
  width: 100%;
  column-count: 2;
}

.footer-list li a:hover {
  color: rgb(180, 260, 70);
}

.footer-list-title {
  color: var(--title-color);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 800;
}

.footer-link {
  font-size: var(--fs-6);
  padding-block: 6px;
}

.footer-link:is(:hover, :focus) {
  color: var(--carolina-blue);
}

.footer-list:last-child > li:first-child {
  column-span: all;
}

.footer-bottom {
  background: var(--body-color);
  border: 1px solid #fff;
  border-radius: 18px 18px 0 0;
  padding: 20px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-link {
  font-size: 20px;
}

.social-link ion-icon {
  --ionicon-stroke-width: 40px;
}

.social-link:is(:hover, :focus) {
  color: var(--carolina-blue);
}

.copyright {
  font-size: var(--fs-6);
}

.copyright > a {
  display: inline-block;
}

.copyright > a:is(:hover, :focus) {
  color: var(--carolina-blue);
}

/*=============== MEDIA QUERIES ===============*/

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }

  .nav__logo {
    max-width: 35px;
  }

  /* mobile */
  .carrusel {
    height: 600px;
  }
  .carrusel .lista .item {
    width: 100%;
    font-size: 10px;
  }

  .carrusel .lista {
    height: 100%;
  }
  .carrusel .lista .item:nth-child(2) .intro {
    width: 50%;
  }

  .carrusel .lista .item img {
    width: 40%;
  }
  .carrusel.showDetail .lista .item:nth-child(2) .detalles {
    backdrop-filter: blur(10px);
    font-size: small;
  }
  .carrusel .lista .item:nth-child(2) .intro .des,
  .carrusel.showDetail .lista .item:nth-child(2) .detalles .des {
    height: 100px;
    overflow: auto;
  }
  .carrusel.showDetail .lista .item:nth-child(2) .detalles .Boton {
    display: flex;
    width: max-content;
    float: right;
  }

  .ju {
    display: block !important;
  }

  .banner .Games {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .Games .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }

  .service-list {
    display: block !important;
  }

  .logo_category {
    width: 100px;
  }
  .has-scrollbar {
    gap: 80px;
  }

  .collection-card img {
    width: 200px !important;
  }
}

@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }

  .service-list {
    display: block !important;
  }
}

@media screen and (max-width: 1024px) {
  .service-list {
    display: block !important;
  }
}

@media screen and (max-width: 1023px) {
  .banner .Games {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .Games .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .search-box {
    width: 75px; /* Puedes ajustar el ancho según sea necesario */
    height: 30px; /* Ajusta el alto según el diseño */
    border-radius: 15px;
  }

  .search-box i {
    font-size: 15px;
  }

  button#logout i {
    font-size: 15px;
  }

  .search-box:focus {
    width: 200px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  /**
   * FOOTER
   */

  .footer-brand {
    width: 100%;
  }

  .footer-text {
    max-width: 400px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    box-shadow: var(--shadow-1);
  }

  .social-list {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 10px;
  }

  .search-box:focus {
    width: 180px;
    padding-left: 5px;
  }

  .service-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* .active-link::before{
      bottom: -.75rem;
  } */
}

@media (min-width: 992px) {
  /**
   * FOOTER
   */

  .footer-list:not(:last-of-type) {
    width: 25%;
  }

  .footer-list:last-of-type {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__menu {
    margin-left: 25px;
  }

  /**
   * FOOTER
   */

  .footer-brand {
    width: 33.33%;
  }

  .footer-text {
    max-width: 35ch;
  }

  .footer-list:not(:last-of-type) {
    width: 16.66%;
  }

  .footer-list:last-of-type {
    width: 33.33%;
  }
}

/* Reponsive */
@media (width < 860px) {
  .nav {
    padding: 0 20px;
    background-color: #fff;
  }
  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #fff;
    height: 100%;
    left: -100%;
    padding: 50px 30px 30px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .showMenu .menu_items {
    left: 0;
  }
  a {
    color: #333;
  }
  #menu_toggle {
    width: 20px;
    cursor: pointer;
  }
  .menu_items #menu_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .hero {
    padding-top: 130px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }
  .hero .row .column {
    width: 100%;
  }
}
@media (width < 600px) {
  .hero {
    padding-top: 80px;
  }
  .hero .row h2 {
    font-size: 26px;
  }
  .buttons {
    justify-content: center;
  }
  .btn {
    padding: 10px 16px;
  }
}
